* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font: 13px Helvetica, Arial;
  min-height: 100vh;
  height: 100vh;
}

/* Main flex box container (all other elements inherit flex from it) */
#chat-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

#chat-input{
  padding: 3px;
  flex: 1 1 20%;
  max-height: 20vh;
}

#chat-form {
  background: #000;
}

#chat-form textarea {
  position: relative;
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 1%;
  top: 10px;
  font-size: 13px;
}

#chat-form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
  bottom: 0px;
}

#messages-container {
  overflow-x: scroll;
  flex: 1 1 80%;
}

#messages {
  list-style-type: none;
  margin: 0;
  margin-bottom: 10%;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

/* Popup to enter username and password */
#overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
}

#overlay div {
  width: 300px;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #000;
  padding: 15px;
  text-align: center;
}

.emojione {
  width: 3em;
  height: 3em;
  display: inline-block;
  margin-bottom: -0.25em;
}

.emojione.popup {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin-bottom: -0.25em;
}
